<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyUEnt3E0PiBXOcVAGPMhahyeWEqNX5fY</string>
	<key>GCM_SENDER_ID</key>
	<string>659889481605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sdkplayer.souqiuba</string>
	<key>PROJECT_ID</key>
	<string>sosoba-ae42f</string>
	<key>STORAGE_BUCKET</key>
	<string>sosoba-ae42f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659889481605:ios:0231343a9a279708e006ec</string>
</dict>
</plist>